{% extends 'base.html' %}

{% block title %}Goal Set Tracker{% endblock %}

{% block style %}

<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../../static/css/datepicker3.css" rel="stylesheet">
<link href="../../static/css/styles.css" rel="stylesheet">

<!--Icons-->
<script src="../../static/js/metadetail/lumino.glyphs.js"></script>
{% endblock %}

{% block content %}
    <body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-primary">
                    <div class="panel-heading"><center>Login or <a href="{% url 'register' %}">Register</a></center></div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <p class="bs-component">
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                            </table>
                            {% if form.errors %}
                                <p style="color:red;font-size : 12px" >Your username and password didn't match. Please try again.</p>
                            {% endif %}
                            </p>
                            <p class="bs-component">
                            <div class="omb_logincol-xs-12 col-sm-10 ">
                                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                                    <div class="col-xs-12 col-sm-8">
                                        <center>
                                            <button class="col-xs-12 col-sm-12 btn bg-info btn-sm" type="submit">Login</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                            </p>
                            {# <input type="hidden" name="next" value="{{ next|capfirst }}" />#}
                        </form>
                        <br>
                        <br>
                        <div>
                            <a href="/user/password/reset/">¿Olvidó su contaseña?</a>
                        </div>
                        <br>
                        <div class="omb_logincol-xs-12 col-sm-8 ">
                            <div class="row omb_row-sm-offset-3 omb_socialButtons">

                                <div class="col-xs-12 col-sm-12">
                                    <a class="btn btn-block btn-social btn-github">
                                        <span class="fa fa-github"></span> Sign in with Github
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row omb_row-sm-offset-3 omb_socialButtons">

                                <div class="col-xs-12 col-sm-12">
                                    <a class="btn btn-block btn-social btn-google">
                                        <span class="fa fa-google"></span> Sign in with Google
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
{% endblock %}

</body>
</html>