{% extends 'base.html' %}




{% block style %}
{#    <link href="../static/css/bootstrap.min.css" rel="stylesheet">#}
    {#    <link href="../static/css/goaldetail/datepicker3.css" rel="stylesheet">#}
    <link href="../static/css/goaldetail/styles.css" rel="stylesheet">
    <!--Icons-->
    <script src="../static/js/goaldetail/lumino.glyphs.js"></script>
{% endblock %}

{#{% block back %}#}
{#    <link href="../static/css/back.css" rel="stylesheet">#}
{#{% endblock back %}#}


{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1> Perfil de  {{ user.username }} </h1>
                {% if user.first_name %}
                <p><b>Nombre:</b> {{ user.first_name}} </p>
                {% endif %}
                {% if user.last_name %}
                <p><b>Apellido:</b> {{ user.last_name}} </p>
                {% endif %}                
                {% if user.email %}
                <p><b>E-mail:</b> {{ user.email}} </p>
                {% endif %}
                <a href="/edit_profile" role="button">
                    Editar informacion </a>
                <br><br>
                {% if myuser %}
                <img src="{{ myuser.profile_photo.url }}" style="width:304px;height:228px;" />
                <br>
                <a href="{% url 'modify_photo' myuser.id %}" role="button">
                    <i class="fb-login-button"></i>Cambiar foto</a>

                <br>
                <a href="{% url 'delete_photo' myuser.id %}" role="button">
                    <i class="fb-login-button"></i>Eliminar foto </a>

                {% else %}
                <br>
                Aun no tienes foto de perfil, carga una 
                    <a href="/add_photo">acá.</a>
                {% endif %}
<br><br>
            <a href="/home" class= 'btn btn-default'>Volver</a>
    </div>
    </div>

    

    <script type="text/javascript">
        $(function () {
            $("input[type='checkbox']").change(function () {
                var item = $(this);
                var sub = $(this).val();
                if (item.is(":checked")) {
                    window.location.href = item.data("target")
                }
            });
        });
    </script>
    <script src="../static/js/goaldetail/bootstrap.min.js"></script>
    <script src="../static/js/goaldetail/chart.min.js"></script>
    <script src="../static/js/goaldetail/chart-data.js"></script>
    <script src="../static/js/goaldetail/easypiechart.js"></script>
    <script src="../static/js/goaldetail/easypiechart-data.js"></script>
    <script src="../static/js/goaldetail/bootstrap-datepicker.js"></script>

{% endblock %}
