{% extends 'base.html' %}



<body>
{% block content %}
<br>
<br>
<br>
<div class="row col-md-4">
<form method="post" action="">
        {% csrf_token %}
            {{ form.as_ul }}
        <br>
          <button class = "col-md-3 btn btn-success" type="submit" value="Register">Add</button>
          <button class = "col-md-3 btn btn-primary" type="button" onclick="window.location.href='/home'">Home</button>
</form>
</div>


    <script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script>
	<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
</body>
</html>

{% endblock %}