{% extends 'base.html' %}

{% block content %}
    {% if catlist %}
        {% for category in catlist %}
            <div class="col-md-4 md-offset-4">
                <div class="panel panel-warning">
                    <div class="panel-heading dark-overlay">{{ category.name }}</div>
                        </br>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <a class="btn btn-lg btn-success btn-block" href="{% url 'newcategory' category.id%}" role="button">
                                    <i class="fb-login-button"></i> Editar
                                </a>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <a class="btn btn-lg btn-danger btn-block" href="{% url 'delete_category' category.id %}" role="button">
                                    <i class="fb-login-button"></i> Borrar
                                </a>
                            </div>
                        </div>
                        </br>
                    </div>
               </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock content %}

