{% extends 'base.html' %}



{% block style %}
   

<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/goaldetail/datepicker3.css" rel="stylesheet">
<link href="../static/css/goaldetail/styles.css" rel="stylesheet">
<!--Icons-->
<script src="../static/js/goaldetail/lumino.glyphs.js"></script>
{% endblock %}

{% block back %}
<link href="../static/css/back.css" rel="stylesheet">
{% endblock back%}

</head>
<body>
{% block content %}

<div class="row">
<div class="col-md-4 col-md-offset-4">
	{% if goal_detail.state == 'inprogress' %}
		<div class="panel panel-blue">
	{% endif %}
	{% if goal_detail.state == 'done' %}
		<div class="panel panel-success">
	{% endif %}
	{% if goal_detail.state == 'fail' %}
		<div class="panel panel-red">
	{% endif %}
			<div class="panel-heading dark-overlay"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>{{ goal_detail.name }}</div>
					<div class="panel-body">
						<ul class="todo-list">
							{% for subgoal in subgoal_detail %}
							<li class="todo-list-item">
								<div class="checkbox">
									{% if subgoal.state == False %}
									<input type="checkbox" id="checkbox" />
									{% endif %}
									{% if subgoal.state == True %}
									<span class="flag"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg></a>
									{% endif %}
									<label for="checkbox">{{ subgoal.name }}</label>
								</div>
								<div class="pull-right action-buttons">
									<a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
									
									<a href="#" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="panel-footer">
						<!--<div class="input-group">
							<input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
							<span class="input-group-btn">
								<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
							</span>
						</div>-->

						<div class="container-fluid">
						<span class="label label-default pull-left">Creada el {{ goal_detail.creationdate }}</span>
						<span class="label label-danger pull-right">Finaliza el {{ goal_detail.finishdate }}</span>
						</div>
					</div>
	</div>
  </div>
</div>

{% if goal_detail.state == 'inprogress' %}
<div class="row">
<div class="col-md-4 col-md-offset-4">
                 <a class="btn btn-lg btn-primary btn-block" href="{% url 'addsubgoal' %}" role="button">
                    <i class="fb-login-button"></i> Agregar Submeta </a>
               </div>
               </div>
               <br>
{% endif %}

{% if goal_detail.state == 'fail' %}
<div class="row">
<div class="col-md-4 col-md-offset-4">
                 <a class="btn btn-lg btn-warning btn-block" href="#" role="button">
                    <i class="fb-login-button"></i> Agregar mas tiempo </a>
               </div>
               </div>
               <br>
{% endif %}

<div class="row">
<div class="col-md-4 col-md-offset-4">
                 <a class="btn btn-lg btn-danger btn-block" href="{% url 'home' %}" role="button">
                    <i class="fb-login-button"></i> Volver </a>
               </div>
               </div>


<script>
$(document).ready(function() {
    $(".my_form input[type=checkbox]").change(function() {
        subgoal_detail.state = True
    });
});
</script>

	<script src="../static/js/goaldetail/bootstrap.min.js"></script>
	<script src="../static/js/goaldetail/chart.min.js"></script>
	<script src="../static/js/goaldetail/chart-data.js"></script>
	<script src="../static/js/goaldetail/easypiechart.js"></script>
	<script src="../static/js/goaldetail/easypiechart-data.js"></script>
	<script src="../static/js/goaldetail/bootstrap-datepicker.js"></script>
	
	{% endblock %}
</body>

</html>